<ul class="accordion" data-accordion data-allow-all-closed="true">
  {% set i = 0 %}
  {% set len = rows | length %}
  {% for key, row in rows -%}
    {% set i = i + 1 %}
    {% set collapse_class = (
        (i == 1 and options.collapse.first is defined and options.collapse.first > 0)
        or (i == len and options.collapse.last is defined and options.collapse.last > 0)
        or (i != 1 and i != len and options.collapse.middle is defined and options.collapse.middle > 0)
        ) ? 'is-active' : ''
    %}
    {% set collapse_class_boolean = (
        (i == 1 and options.collapse.first is defined and options.collapse.first > 0)
        or (i == len and options.collapse.last is defined and options.collapse.last > 0)
        or (i != 1 and i != len and options.collapse.middle is defined and options.collapse.middle > 0)
        ) ? 'true' : 'false'
    %}
      <li class="accordion-item  {{collapse_class}}" data-accordion-item>

          <a href="#" class="accordion-title" aria-controls="l1dmlp-accordion" role="tab" aria-expanded="{{ collapse_class_boolean }}" aria-selected="{{ collapse_class_boolean }}">Hello title</a>

        <div id="{{ id }}-collapse-{{ key }}" class="{{collapse_class}} accordion-content"  data-parent="#{{ id }}" data-tab-content>
          <div class="accordion-content" id="{{ id }}-collapse-{{ key }}" role="tabpanel" aria-labelledby="heading{{ key }}" data-tab-content>
          <div class="card-body">
              {{row.content}}
          </div>
        </div>
      </li>
  {%- endfor %}
</ul>
