{#
/**
 * @file views-zurb-block-grid.html.twig
 * Default simple view template to display Bootstrap Grids.
 *
 *
 * - rows: Contains a nested array of rows. Each row contains an array of
 *   columns.
 *
 * @ingroup views_templates
 */
#}
{%
  set classes = [
    'zurb-block-grid',
  ]
%}
<div id="{{ id }}" {{ attributes.addClass(classes) }}>
  <div class="row {{ options.block_grid }} {{ options.row_class }}" {% if options.apply_equalizer %} data-equalizer {% endif %}>
    {% for row in rows %}
      <div class="column column-block" {% if options.apply_equalizer %} data-equalizer-watch {% endif %}>
        {{ row }}
      </div>
    {% endfor %}
  </div>
</div>